:root {
  --background-color: #222222;
  --dashboard-color: #2c609c;
  --white: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  background-color: #000201;
}

.fullscreen-rectangle {
  height: 100dvh;
  width: 100vw;
  border: 5px solid #000201;
}

.fullscreen-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--white);
  border: 5px solid var(--background-color);
  border-radius: 15px;
  background-clip: padding-box;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.top-left-banner,
.top-right-start-banner,
.top-right-restart-banner {
  position: absolute;
  top: 0;
  background-color: var(--dashboard-color);
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  font-family: 'Press Start 2P', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-bottom: 2px solid var(--background-color);
  text-transform: uppercase;
}

.top-left-banner span {
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  font-family: 'Press Start 2P', sans-serif;
}

.top-left-banner {
  left: 0;
  padding: 10px 50px 10px 5px;
  width: 300px;
  border-right: 2px solid var(--background-color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 9px 0 0 0;
  clip-path: polygon(0% 0%, 95% 0%, 85% 100%, 0% 100%);
}

.top-left-banner::after {
  content: '';
  position: absolute;
  top: 0;
  right: 12px;
  width: 2px;
  height: 100%;
  background-color: var(--background-color);
  transform: skewX(-31deg);
  transform-origin: top right;
}

.top-right-start-banner,
.top-right-restart-banner {
  cursor: pointer;
  right: 0;
  padding: 10px 5px 10px 50px;
  width: 180px;
  border-left: 2px solid var(--background-color);
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0 9px 0 0;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 31% 100%);
}

.top-right-restart-banner {
  display: none;
}

.top-right-start-banner::after,
.top-right-restart-banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 16px;
  width: 2px;
  height: 100%;
  background-color: var(--background-color);
  transform: skewX(37deg);
  transform-origin: top left;
}

.healthbar {
  position: absolute;
  left: 5px;
  top: 0;
}

.healthbar img {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  z-index: 2;
}

.healthbar .healthbar-fill {
  position: absolute;
  left: 30px;
  top: 65px;
  width: 115px;
  height: 20px;
  background-color: #ff0000;
  transform-origin: left;
  z-index: 1;
}

.bottom-dashboard {
  position: absolute;
  width: 160px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dashboard-color);
  box-shadow: 0 -6px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out,
    bottom 0.1s ease-in-out, left 0.1s ease-in-out, right 0.1s ease-in-out,
    background-color 0.1s ease-in-out;
}

.bottom-left {
  bottom: 0;
  left: 0;
  border-radius: 0 100px 0 12px;
  border-top: 2px solid var(--background-color);
  border-right: 2px solid var(--background-color);
}

.bottom-right {
  bottom: 0;
  right: 0;
  border-radius: 100px 0 12px 0;
  border-top: 2px solid var(--background-color);
  border-left: 2px solid var(--background-color);
}

.bottom-dashboard.pressed,
.bottom-dashboard:hover {
  bottom: -1px;
  transform: scale(0.98);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  background-color: #6796c8;
}

.bottom-left.pressed,
.bottom-left:hover {
  left: -2px;
}

.bottom-right.pressed,
.bottom-right:hover {
  right: -2px;
}

.bottom-dashboard img {
  max-width: 100%;
  max-height: 100%;
}

.bottom-left img {
  margin-left: -25%;
}

.bottom-right img {
  margin-right: -25%;
}

.landscape-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.landscape-modal p {
  background-color: white;
  padding: 20px;
  margin: auto 20px;
  border-radius: 5px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .bottom-dashboard {
    width: 120px;
    height: 50px;
  }
}
