.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url('../images/background/space.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
}

.game-prompt {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  pointer-events: none;
}

.game-prompt-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
  font-family: 'Press Start 2P', sans-serif;
  animation: 0.8s linear 0s infinite normal none running flicker;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.game-prompt-text .target {
  width: 25px;
  height: 25px;
  background-image: url('../images/obstacles/cookie.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 15px;
}

.ship-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.ship-wrapper img {
  width: 20vh;
  height: 30vh;
  transition: width 0.5s ease-in, height 0.5s ease-in;
}

.ship-wrapper.choose-ship {
  bottom: 15%;
}

.ship-wrapper.choose-ship img {
  width: 30vh;
  height: 50vh;
}

.ship-wrapper.bank-left {
  left: 170px;
}

.ship-wrapper.bank-right {
  left: calc(100% - 170px);
}

.ship-wrapper.bank-left img {
  transform: rotate3d(0, 1, 0, -15deg);
  filter: drop-shadow(-25px 10px 5px rgba(0, 0, 0, 0.5));
}

.ship-wrapper.bank-right img {
  transform: rotate3d(0, 1, 0, 15deg);
  filter: drop-shadow(25px 10px 5px rgba(0, 0, 0, 0.5));
}

.path {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}

.cookie,
.meteorite {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.cookie {
  width: 25px;
  height: 25px;
  background-image: url('../images/obstacles/cookie.png');
}

.meteorite {
  width: 45px;
  height: 45px;
  background-image: url('../images/obstacles/meteorite.png');
}

.flash-animation,
.flash-animation img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .game-prompt-text {
    font-size: 12px;
  }

  .ship-wrapper.bank-left {
    left: 120px;
  }

  .ship-wrapper.bank-right {
    left: calc(100% - 120px);
  }
}
