.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url('../images/background/space.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  transition: background-image 2s ease-in;
}

.game-prompt,
.count-down {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  z-index: 2;
}

.game-prompt-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
  font-family: 'Press Start 2P', sans-serif;
}

.game-prompt-text.animated {
  animation: 0.8s linear 0s infinite normal none running flicker;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.game-prompt-text .target {
  width: 25px;
  height: 25px;
  background-image: url('../images/obstacles/cookie.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 15px;
}

.count-down {
  display: none;
}

.count-down-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  font-size: 40px;
  font-weight: bold;
  font-family: 'Press Start 2P', sans-serif;
}

.reduce-animation {
  animation: reduce 500ms ease-in forwards;
}

@keyframes reduce {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.3);
  }
}

.difficulty-levels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 350px;
  border: 2px solid var(--background-color);
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.difficulty-level {
  color: #d3d3d3;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Press Start 2P', sans-serif;
  padding: 15px 0;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

.difficulty-level.active {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid var(--background-color);
  border-bottom: 1px solid var(--background-color);
  padding: 14px 0;
}

.ship-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.ship-wrapper .ship-img {
  width: 20vh;
  height: 30vh;
  transition: width 0.5s ease-in, height 0.5s ease-in;
}

.ship-wrapper.choose-ship {
  bottom: 15%;
}

.ship-wrapper.choose-ship .ship-img {
  width: 30vh;
  height: 50vh;
}

.ship-wrapper.bank-left {
  left: 170px;
}

.ship-wrapper.bank-right {
  left: calc(100% - 170px);
}

.ship-wrapper.bank-left .ship-img {
  transform: rotate3d(0, 1, 0, -15deg);
  filter: drop-shadow(-25px 10px 5px rgba(0, 0, 0, 0.5));
}

.ship-wrapper.bank-right .ship-img {
  transform: rotate3d(0, 1, 0, 15deg);
  filter: drop-shadow(25px 10px 5px rgba(0, 0, 0, 0.5));
}

.ship-travel {
  position: absolute;
  top: 50%;
  left: 80%;
  animation-name: travelRightToLeftFadeOut;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes travelRightToLeftFadeOut {
  0% {
    left: 100%;
    opacity: 0;
  }
  20% {
    left: 80%;
    opacity: 1;
  }
  80% {
    left: 20%;
    opacity: 1;
  }
  100% {
    left: 0%;
    opacity: 0;
  }

  /* 0% {
    left: 50%;
  }
  100% {
    left: 50%;
  } */
}

.ship-travel img {
  position: absolute;
  width: 20vh;
  height: 30vh;
  transform: translateY(-50%) rotate(-90deg);
}

.ship-travel-flame {
  position: absolute;
  left: 20vh;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  width: 15vh;
  height: 5vh;
  border-radius: 50%;
  animation: flicker 0.5s infinite alternate;
  background: linear-gradient(to left, blue, yellow);
  filter: blur(5px);
}

@keyframes flicker {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

.path {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}

.cookie,
.meteorite {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.cookie {
  width: 25px;
  height: 25px;
  background-image: url('../images/obstacles/cookie.png');
}

.meteorite {
  width: 45px;
  height: 45px;
  background-image: url('../images/obstacles/meteorite.png');
}

.flash-animation,
.flash-animation img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.healthbar {
  position: absolute;
  left: 5px;
  top: 0;
  display: none;
}

.healthbar img {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  z-index: 2;
}

.healthbar .healthbar-fill {
  position: absolute;
  left: 30px;
  top: 65px;
  width: 115px;
  height: 20px;
  background-color: #ff0000;
  transform-origin: left;
  z-index: 1;
}

.flicker-animation {
  animation: blink 500ms ease-in-out 2;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

@media screen and (max-width: 950px) {
  .game-prompt-text {
    font-size: 12px;
  }

  .difficulty-level {
    font-size: 10px;
  }

  .count-down-text {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .ship-wrapper.bank-left {
    left: 120px;
  }

  .ship-wrapper.bank-right {
    left: calc(100% - 120px);
  }
}
